<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Connection.Properties.Settings.TrackerConnectionString"
            connectionString="Data Source=DEIVIT-PC\SQLCLOVERFIELD;Initial Catalog=Tracker;User ID=sa;Password=olympussoftware"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>